<!doctype html>
<html>
    <head>
        <title>Slect</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1>Select</h1>
        <hr>
        <form action="select_app" method="POST">
            <select name="favorite">
                <option value="">好きなものを選んでください</option>
                <option value="ネコ">Cat</option>
                <option value="イヌ">Dog</option>
                <option value="ネズミ">Rat</option>
                <option value="トリ">Chicken</option>
                <option value="ブタ">Pig</option>
            </select>
            <input type="submit" value="OK">
        </form>
    </body>
</html>
